<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- 설정 입력 -->
  <configuration>
  	<settings>
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
  	</settings>
	<typeAliases>
		<typeAlias alias="ApplyVO" type="com.sist.gj.vo.ApplyVO"/>
		<typeAlias alias="CvFormVO" type="com.sist.gj.vo.CvFormVO"/>
		<typeAlias alias="LicenseVO" type="com.sist.gj.vo.LicenseVO"/>
		<typeAlias alias="PictureVO" type="com.sist.gj.vo.PictureVO"/>
  		<typeAlias alias="JasoVO" type="com.sist.gj.vo.JasoVO"/> 
  		<typeAlias alias="JasoCommentVO" type="com.sist.gj.vo.JasoCommentVO"/> 
  		<typeAlias alias="ReviewVO" type="com.sist.gj.vo.ReviewVO"/>
  		<typeAlias alias="SearchVO" type="com.sist.gj.vo.SearchVO"/> 
  		<typeAlias alias="CodeVO" type="com.sist.gj.vo.CodeVO"/>
  		<typeAlias alias="HireVO" type="com.sist.gj.vo.HireVO"/>
  		<typeAlias alias="UserVO" type="com.sist.gj.vo.UserVO"/>
  		<typeAlias alias="UserMPViewVO" type="com.sist.gj.vo.UserMPViewVO"/>
  	</typeAliases> 
  </configuration>