<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- 설정 입력 -->
  <configuration>
  	<settings>
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
  	</settings>
	<typeAliases>
  		<typeAlias alias="JasoVO" type="com.sist.gj.vo.JasoVO"/> 
  		<typeAlias alias="JasoCommentVO" type="com.sist.gj.vo.JasoCommentVO"/> 
  		<typeAlias alias="ReviewVO" type="com.sist.gj.vo.ReviewVO"/>
  		<typeAlias alias="SearchVO" type="com.sist.gj.vo.SearchVO"/> 
  	</typeAliases> 
  </configuration>